#background {
	width:100%;
	background: -ms-linear-gradient(#757570 0%, #EAEADF 20%) ;
	background: -moz-linear-gradient(#757570 0%, #EAEADF 20%) ;
	background: -webkit-gradient(#757570 0%, #EAEADF 20%);
	background: -webkit-linear-gradient(#757570 0%, #EAEADF 20%);
  	background: -o-linear-gradient(#757570 0%, #EAEADF 20%);
	background: linear-gradient( #757570 0%, #EAEADF 20%); 
	margin:0px;
}

#container {
	width:960px;
	min-height:600px;
	margin-left:auto; 
	margin-right:auto;
	color: #000; 
	font-family: sans-serif;
}
#header{
	margin:10px 0 25px;
	float:left;
	width:100%;
	height:20%;
}
#logo{
	width:270px;
	height:150px;
	float:left;
	margin-top:15px;
	padding-top:10px;	
	background: url('../images/code_puwi.png') no-repeat;
}
#logo img{
	margin-left:50px;
}
#title{
	width:690px;
	float:left;
	margin-top: 30px;
	text-align: center;
	color:#F9F9F5;
}

#content{
	margin-top:0px;
	clear:both;
	height:75%;

}

#content p{
	padding: 0 20px 0 20px;
}

#projectName p{
	margin-bottom:10px;
	padding-left:0px;
	font-size:1.5em;
	font-weight:bold;
}

.box{
	margin:10px 40px 10px 40px;
	font-size:0.8em;
	border-width:2.0px;
	border-style:solid;
}
.groupName p{
	font-weight:bold;  
}
.groupContent {
	margin-bottom:10px;
	border-width:2.0px;
	border-style:solid;
	border-color: #949486;
	background:white;
}

.classFolder{

	font-weight:bold;
}

.classTest{
	margin:30px 0px 0px 20px; 

}


.totalTests{
	margin:0px;
	border-color:#949486;
	background:#D4D4BF;
	font-size:1.0em;
}

.testInfo{
	display:none;
	margin:10px;
	font-family:courier-new;
	clear:right;
}

.totalTests button{
	margin-right:20px;
	float:right;		
}
.testOK{
	border-color: #66cc33;
	background: #B2E699;
}

.testIncomplete{
	border-color:#FFCC00; 
	background:#FFE680;	
}

.testFailed{
	border-color: red; 
	background:#FF8080;
}

#footer{
	width:100%;
	background: -ms-linear-gradient(#333333 0%, #000000 100%);
	background: -moz-linear-gradient(#333333 0%, #000000 100%);
	background: -webkit-gradient(#333333 0%, #000000 100%);
	background: -webkit-linear-gradient(#333333 0%, #000000 100%);
  	background: -o-linear-gradient(#333333 0%, #000000 100%);
	background: linear-gradient(#333333 0%, #000000 100%); 
	color:#EAEADF;
	font-family: sans-serif;
	font-size: 0.8em;
	text-align:center;
	height:5%;
	padding:20px;
	margin-top:35px;
	-webkit-box-shadow:  0 -4px 3px 1px #888888;
	-moz-box-shadow:  0 -4px 3px 1px #888888;
	box-shadow:  0 -4px 3px 1px #888888;
}

.green{
	color:#66cc33;
}

.grey{
	font-weight:bold;
	color:#949486;
}

.black{
	font-weight:normal;
	color:black;
	
}

.red{
	color:red;
	text-align:right;
}

.bold{
		font-weight:bold;
}

.italic{
	font-style:italic;
}

.left{
	float:left;

}
.classButton{
	
	float:right;
}


.nameFT{
	width:80%;
	
}
.fileFT{
	clear:left;
}
