#background {
	background:#949486;
}

#container {
	width:960px;
	height: 1000px;

	margin-left:auto; 
	margin-right:auto;

	background:#EAEADF; 
	color: #000; 
}

#header{
	background:#D4D4BF;
	height:20%;
	padding-top:10px;
	border-bottom: 4.0px solid #949486;
}

#content{
	font-family: sans-serif;
	height:75%;

}

#content p{
	padding-left:20px;
}

#projectName p{
	font-size:1.5em;
	font-weight:bold;
}


.classTest{
	font-weight:bold;
}

.box{
	margin:10px;
	font-size:0.8em;
	border-width:2.0px;
	border-style:solid;
}

#totalTests{
	border-color:#949486;
	background:#D4D4BF;
	margin-top:20px;
	font-size:1.0em;
}

.testOK{
	border-color:#63d13e; 
	background:#B1E89E;	
}

.testFailed{
	border-color: red; 
	background:#FF8080;
}

#footer{
	font-family: sans-serif;
	text-align:center;
	font-size: 0.8em;
	height:5%;
	background:#EAEADF;
	
}

#calendario{

	background:green;
}
