#background {
	width:100%;
	background: -moz-linear-gradient(#63D13E 0%, #EAEADF 20%) ;
	background: -webkit-linear-gradient(#63D13E 0%, #EAEADF 20%);
  	background: -o-linear-gradient(#63D13E 0%, #EAEADF 20%);
	background: linear-gradient( #63D13E 0%, #EAEADF 20%); 
	margin:0px;
}

#container {
	width:960px;
	height: 1000px;

	margin-left:auto; 
	margin-right:auto;

	background:#EAEADF; 
	color: #000; 
}

#header{
	background: -moz-linear-gradient(#63D13E, #EAEADF);
	background: -webkit-linear-gradient(#63D13E, #EAEADF);
  	background: -o-linear-gradient(#63D13E, #EAEADF);
	background: linear-gradient(#63D13E, #EAEADF); 
	height:20%;
	padding-top:10px;

}

#content{
	font-family: sans-serif;
	height:75%;

}

#content p{
	padding-left:20px;
}

#projectName p{
	font-size:1.5em;
	font-weight:bold;
}


.classTest p{
	margin-top:30px;
	margin-left:20px;
	font-weight:bold;      
}

.box{
	margin:10px 40px 10px 40px;
	font-size:0.8em;
	border-width:2.0px;
	border-style:solid;
}

#totalTests{
	margin:20px 20px 10px 20px;
	border-color:#949486;
	background:#D4D4BF;
	font-size:1.0em;
}

.testOK{
	border-color:#63d13e; 
	background:#B1E89E;	
}

.testFailed{
	border-color: red; 
	background:#FF8080;
}

#footer{
	color:#EAEADF;
	font-family: sans-serif;
	font-size: 0.8em;
	text-align:center;
	height:5%;
	padding:20px;
	background:black;
	
}

